@page "/all-authors"
@using PersonalLibrary.Shared

@inherits AuthorsLogic

<h1>All Authors</h1>

<p>
    <NavLink href="form-author" Match=NavLinkMatch.All>
        <button class="btn btn-primary">
            <span class="oi oi-plus"></span>
            Add Author
        </button>
    </NavLink>
</p>

@if (!AuthorsLoaded)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else
{

    @if (EditAuthorId != null)
    {
        <div class="padding-md border margin-x-md border-info">
            <div class="row">
                <div class="col-12 text-right">
                    <div class="text-right">
                        <button onclick="@(()=> EditAuthorId = null )" class="btn btn-danger">
                            <span class="oi oi-x"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="padding-y-sm">
                @* Todo po editaci updatuj tabulku, asi nejaky event handler pro send update... *@
                <FormAuthor AuthorId="@Convert.ToInt32(EditAuthorId)" IsEdit="true" />
            </div>
        </div>

        <br />

    }

        <div class="row">
            <div class="text-right">
                <button onclick="@OnInitAsync" class="btn btn-info">
                    <span class="oi oi-reload"></span>
                </button>
            </div>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th>Author Name</th>
                <th>About Author</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in AuthorsData)
            {
                <tr>
                    <td><a href="#">@author.Name</a></td>
                    <td><a href="#">@author.About</a></td>
                    <td>
                        <a class="btn btn-success" onclick="@( () => EditAuthorId = author.Authorid)">
                            <span class="oi oi-pencil"></span>
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
